article{
    @include container(960px);

    header {
        margin-bottom: 1.3rem;
        
        h1 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .credit {
            font-family: $sans-serif;
            font-weight: 400;
        }

        p:last-of-type{
            &:after{
                content: "";
            }
        }
    }

    p.disclosure{
        font-size: $body-font-size/$font-size-multiplier;
        color: lighten($black, 20%);
    }

    p{
        max-width: 750px;

        a {
            color: $project-primary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &:first-child:first-letter{
            $drop-cap-size: $body-font-size*4;
            padding-bottom: 10px;
            font-size: $drop-cap-size;
            padding-top: $drop-cap-size/5;
            padding-right: 3px;
            float:left;
        }

        &:last-of-type{
            &:after {
                // This would be where a little boxy doodle would appear
                // content: " \25D8";
                // font-size: $body-font-size;
                // color: $project-primary*1.2;
            }
        }
    }
}