article{
    @include container(960px);

    p{
        max-width: 750px;

        a {
            color: $project-primary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}