div.full-banner{
    
    div.glasspane {
        
    }
    div.floating-copy{
        z-index: 1;
        position: absolute;
        width: 100%;
        top:80px;
        color: $white;
        text-align: left;

        font-family: $sans-serif;

        div.orange-bar{
            perspective: 10px;
            background-color: $project-primary;
            box-sizing: border-box;
            box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.05);
            h1 {
                color: $white;
            }
        }

        div.containable{
            @include container($breakpoint-pc-medium);
        }

        div.white-field{
            font-family: $serif;
            box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.05);

            border-radius: 0px 0px 7px 7px;

            background-color: $white;
            width: 100%;
            max-width: $breakpoint-landscape-phone;
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;

            p {
                margin-top: 1rem;
                padding-left: 20px;
                padding-right: 20px;
                font-weight: 400;
                font-size: 1.6rem;
                color: $black;
            }
        }




        h1 {
            @include container($breakpoint-pc-medium);
            padding: 10px;
            font-size: 5rem;

            @media screen and (max-width: $breakpoint-landscape-phone){
                font-size: 3.5rem;
            }
        }
    }
}