/* SCSS Variables
MPR Voters Series
Nathan Lawrence, 2018 */

// Fonts
@import url("https://use.typekit.net/nqy5iuk.css"); // Typekit "kit" for project: 
$serif: 'Georgia', 'Times New Roman', serif;
$sans-serif: 'neue-haas-grotesk-display','Helvetica Neue', 'Neue Helvetica', 'Arial', sans-serif;

// Typography variables
$body-line-height: 1.4em;
$header-font-family: $sans-serif;
$body-font-family: $serif;

$base-font-size: 18px;
$font-size-multiplier: 1.3;
$article-container-width: 960px;


// Variables for Primary Color Theme
$muted-orange: #DE6A42;
$bold-salmon: #D8635B;
$deep-sea-foam: #285864;
$crisp-turquoise: #419384;
$milky-honey: #F1BE52;

$black: #333;
$white: #fff;

$project-primary: $muted-orange; //$muted-orange
$project-primary-light: lighten($project-primary, 20%);
$project-secondary: $milky-honey;
$project-contrast: $deep-sea-foam;
$project-alert: $bold-salmon;

$project-red: $bold-salmon;
$project-orange: $muted-orange;
$project-yellow: $milky-honey;
$project-green: $crisp-turquoise;
$project-blue: $deep-sea-foam;


// Breakpoints
$breakpoint-landscape-phone: 600px;
$breakpoint-tablet: 750px;
$breakpoint-pc-medium: 900px;
$breakpoint-pc-large: 1400px;